@import "font-face";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: Chivo-Regular;
  min-height: 100%;
}

body {
  height: 100%;
}
#root {
  height: 100%;
  width: 100%;

  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    padding: 0 30px;
    width: 100%;

    @media screen and (max-width: 600px) {
      padding: 0;
    }

    .brand {
      display: flex;
      flex-direction: row-reverse;
      flex-shrink: 0;
      flex-grow: 0;
      padding: 30px 20px;
    }
  }
}
