.routes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;

    .route-links {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 35px;
        padding: 10px 20px;
        width: 100%;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            padding: 0;
        }

        .logo {
            a {
                color: black;
                display: flex;
                justify-content: center;

                img {
                    width: 140px;
                }
            }

            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }

        .route-links-wrapper {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;

            @media screen and (max-width: 600px) {
                margin: 20px 0;
                width: 100%;
            }

            .route-link {
                margin: 0 10px;
                position: relative;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #898989;
                    text-transform: uppercase;

                    &.active {

                        &::after {
                            background-color: #000000;
                            bottom: -6px;
                            content: '';
                            height: 3px;
                            left: 0;
                            position: absolute;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }

    .route-content {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        padding-bottom: 20px;
        width: 100%;

        & > * {
            padding: 0 20px;
            width: 100%;
        }
    }
}
