.route-about {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }

    .img-wrapper {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        width: 70%;

        @media screen and (max-width: 600px) {
            width: 100%;
        }

        img {
            height: 90%;
            width: 100%;
        }
    }

    .desc-wrapper {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0 30px;
        width: 30%;

        @media screen and (max-width: 600px) {
            margin-top: 30px;
            padding: 0;
            width: 100%;
        }

        .desc {
            color: #898989;
            font-size: 14px;
            font-weight: normal;
            line-height: 23px;
        }
    }
}
